BROWSERSTACK_USER=user
BROWSERSTACK_KEY=key
ENVIRONMENT=dev
IPAFFS_KEY=key
TRADE_IMPORTS_DATA_API_USER=TradeImportsProcessor
TRADE_IMPORTS_DATA_API_KEY=key
TRADE_IMPORTS_PROCESSOR_USER=BtmsTeam
TRADE_IMPORTS_PROCESSOR_KEY=integration-tests-pwd
BASE_URL_TRADE_IMPORTS_PROCESSOR=url
BASE_URL_BTMS_GATEWAY=url
BASE_URL_TRADE_IMPORTS_DATA_API=url
CDP_API_KEY=key
ServiceBus__Notifications__ConnectionString=key
ServiceBus__Gmrs__ConnectionString=key
TRADE_IMPORTS_DECISION_COMPARER_USER=user
TRADE_IMPORTS_DECISION_COMPARER_KEY=key